body {
  background-color: #EFFFFD
}

hr{
  border-style: none;
  border-top-style: dotted ;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

h1 {
  color: #39AEA9;
}

h2{
  color: #05595B;
}
